<header class="headercontainer">
  <div class="grid justify-content-around">
    <div class="col-3 ">
      <div class="logo mt-3">
        <img src="assets/Radtek1.png" alt="logo" />
      </div>
    </div>
    <!-- <div class="col-3 search mt-2"><products-search></products-search></div> -->
    <div class="col-6 navigation">
      <ngshop-nav></ngshop-nav>
    </div>
    <div class="pl-5 ml-5 offset-1 col-2 tools justify-content-end">
      <a href="https://github-tek7.github.io/admin/"><i class="pi pi-user p-text-secondary" style="font-size: 2rem; color: white;"></i></a>
      <orders-cart-icon></orders-cart-icon>
    </div>
  </div>
</header>
